/* Light mode (default) */
body {
  width: 20rem;
  background-color: #f5f5f5;
  color: #333;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}

li:nth-child(odd) {
  background: #e0e0e0; /* Slightly darker background for odd items */
}

li:nth-child(even) {
  background: #ffffff;
}

label {
  display: block;
  margin-bottom: 10px;
  vertical-align: middle;
}

input[type="checkbox"],
button {
  appearance: none;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 8px;
  position: relative;
  top: -1px;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
}

#randomizeButton {
  margin-top: -5px;
  margin-bottom: -4px;
  height: 45px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#message {
  font-size: 18px;
  margin: 10px 0;
  color: #0056b3; /* Darker blue for better readability */
}

.redirect-message {
  font-size: 16px;
  color: #0056b3; /* Darker blue for better readability */
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

#extensionList {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

#saveButton {
  margin-top: -5px;
  padding: 12px;
  height: 45px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.auto-identification-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

h3 {
  margin: -10px 0;
  margin-bottom: 15px;
  font-size: 16px;
  color: #007bff;
  text-align: center;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #f5f5f5;
  }

  li:nth-child(odd) {
    background: #333333;
  }

  li:nth-child(even) {
    background: #2e2e2e;
  }

  input[type="checkbox"] {
    border: 1px solid #666;
    background-color: #2e2e2e;
  }

  input[type="checkbox"]:checked {
    background-color: #007bff;
  }

  #randomizeButton {
    border: 1px solid #666;
    background-color: #007bff;
    color: #f5f5f5;
  }

  #message,
  .redirect-message {
    color: #00c7ff;
  }

  hr {
    background-color: #444;
  }

  #saveButton {
    border: 1px solid #666;
    background-color: #007bff;
    color: #f5f5f5;
  }

  h3 {
    color: #00c7ff;
  }
}
