body {
  width: 20rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}

li:nth-child(odd) {
  background: #80808030;
}

li:nth-child(even) {
  background: #ffffff;
}

h3,
p {
  margin: 0;
}

label {
  display: block;
  margin-bottom: 10px;
  vertical-align: middle;
}

input[type="checkbox"],
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  vertical-align: middle;
}

input[type="checkbox"] {
  margin-right: 8px;
  position: relative;
  top: -1px;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

input[type="checkbox"]:checked {
  background-color: #007bff;
}

#randomizeButton {
  margin-top: -5px;
  margin-bottom: -3px;
  height: 45px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#message {
  font-size: 18px; /* Set the font size to 18 pixels */
  margin: 10px 0; /* Add some margin for spacing */
}
.redirect-message {
  font-size: 16px;
  color: #007bff; /* Adjust the color as needed */
}


/* Style for the separator line */
hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

#extensionList {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

#saveButton {
  margin-top: -5px;
  padding: 12px;
  height: 45px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.auto-identification-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

h3 {
  margin: -10px 0;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  text-align: center;
}


